/* variables */
:root{
--main-clr:#2196F3;
--section-background: #ececec;
--Features-clr-1:#f44036;
--Features-clr-2:#009688;
--Features-clr-3:#03a9f4;
--main-transition: .3s;
}

/* global rules */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
body{
    font-family: 'cairo', sans-serif;
}

.heading{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    border: solid 2px;
    width: fit-content;
    padding: 10px 20px;
    margin:0 auto 100px;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
}
.heading:hover{
    animation: heading-style .0001s .65s  forwards;
} 
.heading::before, .heading::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-clr);
    position: absolute;
    z-index: -1;
}
.heading::before{
    left: -40px;
}
.heading:hover::before{
    animation: heading-move-l var(--main-transition) linear forwards, heading-move-final var(--main-transition) var(--main-transition) forwards;
}
.heading::after{
    right: -40px;
}
.heading:hover::after{
    animation: heading-move-r var(--main-transition) linear forwards, heading-move-final var(--main-transition) var(--main-transition) forwards;
}
.none{
    display: none;
}
.gridbox{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
section:not(#landing){
    padding: 100px 0;
}
.dotted{
    position: relative;
    z-index: 0;
}
.dotted::before{
    content: '';
    position: absolute;
    right: 0;
    top: 200px;
    background-image: url('images/dots.png');
    background-size: cover;
    width: 200px;
    height: 200px;
}
.dotted::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 200px;
    background-image: url('images/dots.png');
    background-size: cover;
    width: 200px;
    height: 200px;
}
img{
    width: 100%;
}
/* Start Landing */
#landing{
    height: 100vh;
    position: relative;
    overflow-x: clip;
}
#landing::before{
    content: "";
    background-color: var(--section-background);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: -100px;
    z-index: -1;
    transform: skewy(-7deg);
}
@media (max-width: 768px){
    #landing::before{
        top: -60px;
    }
}
/* header */
header{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    position: relative;
}
header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
@media (min-width: 768px){
    header .container {
        justify-content: space-between ; 
    }
}
header .container .logo{
    width: fit-content;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: var(--main-clr);
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px){
    header> .container .logo{
    width: 100%;
        height: 54px;
    }
}
header .container> ul{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    min-width: 290px;
}
@media (min-width: 768px){
    header> .container> ul{
        font-size: 18px;
    }
}
header .container> ul> li{
    list-style: none;
    width: fit-content;
    display: flex;
    align-items: center;
    transition: var(--main-transition);
    overflow: hidden;
}
header .container> ul> li:hover{
    background-color: #fafafa;
    color: var(--main-clr);
}
header .container> ul> li> a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 10px 30px;
    position: relative;
    cursor: pointer;
}
@media (max-width: 768px){
    header .container> ul> li> a{
        padding: 10px;
    }
}
header .container> ul> li> a::before{
    content: "";
    width: 100%;
    height: 5px;
    left: -100%;
    background-color: var(--main-clr);
    position: absolute;
    top: 0;
    transition: var(--main-transition);
}
header .container> ul> li a:hover::before{ 
    left: 0;
}
.megamenu{
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    border-bottom: 3px solid var(--main-clr);
    z-index: -2;
    transition: top var(--main-transition), opacity var(--main-transition);
    background-color: #fff;
    opacity: 0;
    text-transform: capitalize;
}
header .container> ul> li:hover .megamenu{
    top: 90px;
    opacity: 1;
    z-index: 100;
}
@media (min-width: 768px){
    header> .container> ul .megamenu{
        display: flex;
        gap: 30px ;
        padding: 30px 25px;
    }
    header .container> ul> li:hover .megamenu{
        top: 72px;
    }
}
.megamenu ul{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    max-height: 260px;
}
@media (min-width: 768px){
    .megamenu ul{
        width: 50%;
    }
}
@media (min-width: 992px){
    .megamenu .one{
        display: block;
        width: 50%;
    }
    .megamenu .two{
        width: 25%;
    }
    .megamenu .three{
        width: 25%;
    }
}
.megamenu li{
    font-size: 18px;
    font-weight: 700;
    color: var(--main-clr);
    height: 52px;
    line-height: 52px;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    padding-inline-start: 10px;
    border-bottom: 0.1px solid #0000001f;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
@media (min-width: 768px){
    header> .container> ul .megamenu ul li:last-of-type{
        border-bottom: transparent;
    }
}   
.megamenu li::before{
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    width: 0;
    background-color: #fafafa;
    z-index: 0;
    transition: width var(--main-transition);
}
.megamenu li:hover::before{
    width: 100%;
}
.megamenu li a{
    text-decoration: none;
    color: var(--main-clr);
    width: 100%;
    position: relative;
    z-index: 1;
}
.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 768px){
    .hello{
        width: 100%;
    }
}  
.hello .box{
    text-align: center;
}
.hello h2{
    letter-spacing: -1.5px;
    font-size: 28px;
    text-align: inherit;
}
@media (min-width: 768px){
    .hello h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
}  
.hello .box p{
    line-height: 32px;
    font-size: 18px;
    opacity: .6;
    text-align: inherit;
    max-width: 500px;
}
@media (min-width: 768px){   
    .hello .box p{
        font-size: 24px;
        line-height: 40px;
    }
}
@media (min-width: 992px){
    .hello .box{
        width: 50%;
        height: 200px;
        text-align: left;
        justify-content: left;
    }
}
@media (min-width: 992px){
    .hello .imgl{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60% ;
        height: 100%;
    }
    .hello .imgl img{
        width: 600px;
        height: 400px;
        animation-name: move1;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
.arrow{
    position: absolute;
    left:50% ;
    bottom: 25px;
    z-index: 1;
    transform: translate(-50%, 0);
} 
@media (min-width: 768px){   
    .arrow{
        bottom: 50px;
    }
}
.arrow div{
    height: 12px;
    animation-name: move2;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.arrow div a{
    color:var(--main-clr);
    font-size: 32px;
    font-weight: 800;
}
.arrow:hover div a{
    color: #1787e0;
}
/* End Landing */
/* Start articles */
.articles{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles> div{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    width: 100%;
    min-height: 350px;
    transition: var(--main-transition);
    border-radius: 10px;
    overflow: clip;
}
.articles> div:hover{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    transform: translate(0, -10px);
}
.articles div img{
    height: 50%;
}
.articles div .box2{
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.articles div .middle{
    padding: 10px 20px;
}
.articles div .middle h3{
    margin: 10px 0;
}
.articles div .middle p{
    opacity: .6;
    line-height: 24px;
}
.articles div .bottom{
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    border: .1px solid rgba(0, 0, 0, .1);
}
.articles div .bottom .arrow-r{
    color: var(--main-clr);
    position: absolute;
    right: 20px;
}
.articles div:hover .bottom .arrow-r{
    animation: move3 .6s infinite linear forwards;
}
.articles div .bottom p{
    padding: 0 20px;
    font-weight: 900;
}
.articles div .bottom p a{
    color: var(--main-clr);
    text-decoration: none;
    text-transform: capitalize;
}
/* End Articles */
/* Start Gallery */
#Gallery{
    background-color: var(--section-background);
}
.linear::before{
    content: '';
    position: absolute;
    height: 50px;
    top: -50px;
    width: 100%;
    background: transparent;
    background-image: linear-gradient(
        -45deg,
        var(--section-background)  15px,
        transparent 15px,
        transparent 100%),
        linear-gradient(
            45deg,
            var(--section-background) 15px,
            transparent 15px,
            transparent 100%);
    background-size: 32px;
}
#Gallery .heading{
    width: 164px;
}
.gallery div{
    border: #fff 15px solid;
    overflow: clip;
    position: relative;
}
.gallery div:hover img{
    transform: scale(1.1) rotate(5deg);
}
.gallery div::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgba(255, 255, 255, .2);
}
.gallery div:hover::before{
    animation: light var(--main-transition);
}
.gallery div img{
    height: 100%;
    transition: var(--main-transition);
}
/* End Gallery */
/* Start Features */
#Features .container> div{
    border: rgba(0, 0, 0, .2) solid 1px;
    height: max-content;
}
#Features .container> div .img-holder{
    width: 100%;
    height:50%;
    position: relative;
    overflow: clip;
}
#Features .container> div .img-holder::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--Features-clr-1);
    opacity: .6;
}
#Features .container> div:nth-child(2) .img-holder::before{
    background-color: var(--Features-clr-2);
}
#Features .container> div:nth-child(3) .img-holder::before{
    background-color: var(--Features-clr-3);
}  
#Features .container> div .img-holder::after{
    content: '';
    border: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0px 0 170px 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    transition: var(--main-transition);
}
#Features .container> div:hover .img-holder::after{
    border-width: 170px 500px 170px 0px;
}
#Features .container> div .img-holder img{
    height: 100%;
}
#Features .container> div .box3{
    height: 35%;
    width: 100%;
    text-align: center;
    gap: 15px;
}
#Features .container div .box3 h3{
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    width: fit-content;
    margin: auto;
}
#Features .container> div .box3 h3::before{
    content: "";
    position: absolute;
    width: 70%;
    left: 15%;
    height: 5px;
    bottom: -20px;
    background-color: var(--Features-clr-1);
}
#Features .container> div:nth-child(2) .box3 h3::before{
    background-color: var(--Features-clr-2);
}
#Features .container> div:nth-child(3) .box3 h3::before{
    background-color: var(--Features-clr-3);
}
#Features .container> div .box3 p{
    padding: 0 20px;
    font-size: 20px;
    opacity: .5;
    line-height: 40px;
    margin: 60px 0 50px;
}
#Features .container> div .more{
    text-transform: capitalize;
    padding: 10px 30px;
    width: fit-content;
    color: var(--Features-clr-1);
    border: 3px solid var(--Features-clr-1);
    border-radius: 5px;
    font-size: 22px;
    font-weight: 800;
    position: relative;
    margin: 0 auto 30px;
    transition: var(--main-transition);
}
#Features .container> div:nth-child(2) .more{
    color: var(--Features-clr-2);
    border-color: var(--Features-clr-2);
}
#Features .container> div:nth-child(3) .more{
    color: var(--Features-clr-3);
    border-color: var(--Features-clr-3);
}
#Features .container> div:hover .more{
    color: #fff;
}
#Features .container> div .more::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background-color: var(--Features-clr-1);
    transition: var(--main-transition);
}
#Features .container> div:nth-child(2) .more::before{
    background-color: var(--Features-clr-2);
}
#Features .container> div:nth-child(3) .more::before{
    background-color: var(--Features-clr-3);
}
#Features .container> div:hover .more::before{
    width: 100%;
}
/* End Features */
/* Start Testimonials */
#Testimonials{
    background-color: var(--section-background);
    z-index: 0;
    position: relative;
}
.Testimonials> div{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}
.Testimonials> div::before{
    content: '';
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(5px,-50%);
    border-radius: 50%;
    border: 10px solid var(--section-background);
    background-image: url('images/avatar-01.png') ;
    background-size: cover;
}
.Testimonials> div:nth-child(2):before{
    background-image: url('images/avatar-02.png');
}
.Testimonials> div:nth-child(3):before{
    background-image: url('images/avatar-03.png');
}
.Testimonials> div:nth-child(4):before{
    background-image: url('images/avatar-04.png');
}
.Testimonials> div:nth-child(5):before{
    background-image: url('images/avatar-05.png');
}
.Testimonials> div:nth-child(6):before{
    background-image: url('images/avatar-06.png');
}
.Testimonials> div .name{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}
.Testimonials> div p:not(.name){
    opacity: .7;
}
.Testimonials> div .stars{
    margin: 10px 0;
}
.Testimonials> div .stars .filled{
    color: #ffc107;
}
.Testimonials> div p:last-child{
    line-height: 24px;
}
/* End Testimonials */
/* Start Team_Members */
.team_members{
    gap: 30px;
}
.team_members> div{
    position: relative;
}
.team_members> div::before{
    content: '';
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #f3f3f3;
    z-index: -2;
    border-radius: 10px;
}
.team_members> div::after{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e4e4e4;
    z-index: -1;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team_members> div:hover::after{
    width: 80%;
}
.team_members> div> .center{
    width: 100%;
    margin-top: 60px;
    display: flex;
    height: 60%;
}
.team_members> div> .center .img-t{
    width: 85%;
}
.team_members> div> .center .img-t img{
    border-radius: 10px;
    height: 100%;
    transition: var(--main-transition);
}
.team_members> div:hover> .center .img-t img{
   filter: grayscale(1);
}
.team_members> div> .center .links{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}
.team_members> div> .center .links a{
    color: #777777;
    padding: 0 20px;
    transition: var(--main-transition);
}
.team_members> div:hover .center .links a:hover{
    color: var(--main-clr);
}
.team_members> div> .bottom{
    position: relative;
    left: 20%;
    width: 80%;
    padding: 20px;
}
.team_members> div> .bottom p:first-child{
    color: var(--main-clr);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: var(--main-transition);
}
.team_members> div:hover> .bottom p:first-child{
    color: #777777;
}
/* services */
#services{
    background-color: var(--section-background);
    position: relative;
    z-index: 0;
}
.services> div{
    height: 250px;
    min-width: 300px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    position: relative;
    transition: var(--main-transition);
}
.services> div:hover{
    transform: translate(0, -8px);
}
.services> div::before{
    content: '';
    position: absolute;
    transition: var(--main-transition);
    height: 3px;
    width: 0;
    top: -3px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--main-clr);
}
.services> div:hover::before{
    width: 100%;
}
.services> div> .service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    padding: 40px 0;
    
}
.services> div> .service .icon{
    font-size: 60px;
    color: #d5d5d5;
}
.services> div> .service h3{
    font-size: 26px;
    width: 100%;
    text-align: center;
    color: var(--main-clr);
}
.services> div> .bottom{
    height: 50px;
    background-color: #f9f9f9;
    position: relative;
    overflow: clip;
}
.services> div> .bottom .skew1{
    height: 100%;
    width: 150px;
    background-color: #d5d5d5;
    position: absolute;
    left: -20px;
    top: 0;
    transform: skew(-30deg);
}
.services> div> .bottom .skew2{
    height: 100%;
    width: 100px;
    background-color: var(--main-clr);
    position: absolute;
    left: -20px;
    top: 0;
    transform: skew(-30deg);
    color: #fff;
    display: flex;
    justify-content: center;
    padding-inline-start: 20px;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
}
.services> div> .bottom .skew2 span{
    transform: skew(30deg);
}
.services> div> .bottom a{
    color: var(--main-clr);
    height: 100%;
    padding: 10px;
    width: fit-content;
    position:absolute ;
    right: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
}
/* our skills */
.skills .skill{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
@media (min-width: 992px){
    .skills{
        display: flex;
        gap: 40px;
    }

    .skills .img-holder{
        display: block;
        width: 50%;
        padding: 20px;
    }
    .skills .img-holder img{
        height: 100%;
    }
    .skills .skill{
        width: 50%;
    }
}
@media (min-width: 1200px){
    .skills .img-holder{
        display: block;
        width: 40%;
    }
    .skills .skill{
        width: 55%;
    }
}
.skills .skill> div{
    position: relative;
    height: 70px;
    width: 100%;
}
.skills .skill> div .lang{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.skills .skill> div .lang span{
    width: fit-content;    
    position: absolute;
    right: 5px;
    border: .1px solid rgba(0, 0, 0, .1);
    padding: 5px;
    font-size: 12px;
    border-radius: 5px 2px;
    color: var(--main-clr);
}
.skills .skill> div .bar{
    height: 30px;
    width: 100%;
    background-color: #ececec;
    position: absolute;
    bottom: 0;
}
.skills .skill> div .bar::before{
    content: '';
    background-color: var(--main-clr);
    width: 80%;
    height: 100%;
    position:absolute;
    left: 0;
}
.skills .skill> .css .bar::before{
    width: 85%;
}
.skills .skill> .js .bar::before{
    width: 70%;
}
/* End skills  */
/* Start How It Works? */
#how{
    background-color: var(--section-background);
    position: relative;
    z-index: 0;
}
#how .container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 40px;
}
@media (min-width: 992px){
    #how .container{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #how .container .img-holder{
        width: 60%;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 1200px){
    #how .container .img-holder{
        width: 50%;
        padding: 50px;
    }
}
#how .container .work{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (min-width: 992px){
    #how .container .work{
        width: 40%;
    }
}
@media (min-width: 1200px){
    #how .container .work{
        width: 50%;
    }
}
#how .container .work> div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px #fff solid;
    background-color: #f6f5f5;
    position: relative;
    border-radius: 5px;
    padding: 20px 0;
}
@media (min-width: 768px){   
    #how .container .work> div{
        padding: 0;
        flex-wrap: nowrap;
    }
}
@media (min-width: 992px){
    #how .container .work> div{
        padding: 20px 0;
    }
}
@media (min-width: 1200px){
    #how .container .work> div{
        padding: 0;
    }
}
#how .container .work> div::before{
    content: '';
    width: 0;
    height: 0;
    background-color: #ededed;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--main-transition);
    z-index: 0;
    border-radius: 5px;
}
#how .container .work> div:hover::before{
    width: 100%;
    height: 100%;
}
#how .container .work> div .img-holder{
    width: 100%;
    padding:  20px ;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px){   
    #how .container .work> div .img-holder{
        width: 20%;
        padding: 40px ;   
    }
}
@media (min-width: 992px){
    #how .container .work> div .img-holder{
        width: 35%;
    }
}
@media (min-width: 1200px){
    #how .container .work> div .img-holder{
        padding: 55px;
    }
}
#how .container .work> div .img-holder img{
    width: 65px;
    height: 65px;
}
#how .container .work> div .w-step{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 1;
    gap: 15px;
    height: fit-content;
    text-align: center;
}
@media (min-width: 768px){  
    #how .container .work> div .w-step{
        text-align: left;
    }
}
#how .container .work> div .w-step h3{
    font-size: 24px;
    width: 100%;
}
#how .container .work> div .w-step p{
    font-size: 18px;
    opacity: .7;
    line-height: 28px;
}
/* LATEST EVENTS */
@media (min-width: 992px){
    #events .container{
        display: flex;
        align-items: center;
    }
    #events .container .img-holder{
        display: block;
        width: 50%;
    }
    #events .container .box{
        width: 50%;
    }
}
@media (min-width: 1200px){
    #events .container .img-holder{
        width: 40%;
    }
    #events .container .box{
        width: 60%;
    }
}
#events .container .box .counter{
    width: 100%;
    max-width: 428px;
    height: 140px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
}
#events .container .box .counter> div{
    border: 1px solid #d4d4d4;
    height: 100%;
    border-radius: 5px;
    width: 75px;
    position: relative;
}
#events .container .box .counter> div:hover{
    border-color: var(--main-clr);
}
#events .container .box .counter> div p{
    color: var(--main-clr);
    font-size: 32px;
    padding: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
#events .container .box .counter> div .bottom{
    position: absolute;
    bottom: 0;
    height: 20%;
    border-top: 1px solid #d4d4d4;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}
#events .container .box .counter> div:hover .bottom{
    border-color: var(--main-clr);
}
#events .container .box .text{
    text-align: center;
}
#events .container .box .text h1{
    margin: 40px 0;
}
@media (min-width: 992px){
    #events .container .box .text h1{
        margin: 40px 0 30px 0;
    }
}
#events .container .box .text p{
    font-size: 19px;
    opacity: .6;
    line-height: 28px;
}
@media (min-width: 992px){
    #events .container .box .text p{
        line-height: 32px;
    }
}
#events .subscribe{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    background-color: #f6f5f5;
    width: 100%;
    max-width: 600px;
    margin: 100px auto 0 auto;
}
@media (min-width: 768px){   
    #events .subscribe{
        flex-wrap: nowrap;
        border-radius: 100px;
        padding:  35px;
        width: 650px;
    }   
}
@media (min-width: 992px){
    #events .subscribe{
        margin: 50px auto 0 auto;
    }
}
#events .subscribe input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: 0;
} 
@media (min-width: 768px){   
    #events .subscribe input{
        width: 80%;
        border-radius: 100px;
    }
}
#events .subscribe button{
    width: 100%;
    border: none;
    background-color: #2196f3; 
    transition: var(--main-transition);
}
@media (min-width: 768px){   
    #events .subscribe button{
        width: 20%;
        border-radius: 100px;
    }
}
#events .subscribe button:hover{
    background-color: #1787e0;
}
#events .subscribe button a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    text-align: center;
}
/* pricing plans */
#plans{
    position: relative;
    z-index: 0;
    background-color: var(--section-background);
}
.plans> div{
    background-color: #fff;
    box-shadow: 0 0  10px 0 rgba(0, 0, 0, .2);
    position: relative;
    z-index: 1;
}
@media (min-width: 1200px){
    .plans> div:nth-child(2){
        transform: translate(0, -20px);
    }
}
.plans> div::before{
    content: '';
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: var(--main-transition);
}
.plans> div::after{
    content: '';
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    transition: var(--main-transition);
}
.plans> div:nth-child(2) .popular{
    position: absolute;
    top: 0;
    transform: rotate(90deg) translate(100%, 0);
    transform-origin: top right;
    padding: 10px 30px 10px 15px;
    background-color: #2294f2;
    right: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    height: 43px;
    width: 162px;
}
.plans> div:nth-child(2) .popular::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    border: 24px solid;
    border-color: transparent #fff transparent transparent;

}
.plans> div:hover::before, .plans> div:hover::after{
    width: 100%;
}
.plans> div> div{
    position: relative;
    z-index: 2;
}
.plans> div .top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    padding: 30px 0;
}
.plans div .top h2{
    width: 100%;
    margin-bottom: 30px;
}
.plans div .top .img-holder{
    margin-bottom: 40px;
    width: 100%;
}
.plans div .top .img-holder img{
    width: 80px;
    height: 80px;
}
.plans div .top .cost{
    font-size: 64px;
    font-weight: 600;
    color: #2196f3;
    font-family: sans-serif;
    width: 100%;
}
.plans div .top p{
    opacity: .7;
}
.plans div .center div{
    padding: 18px 0;
    font-size: 18px;
    border-bottom: .1px solid rgba(0, 0, 0, .08);
    padding-inline-start: 30px;
}
.plans div .center div:first-child{
    border-top: .1px solid rgba(0, 0, 0, .08);
}
.plans div .center div:last-child{
    border-bottom: none;
}
.plans div .bottom{
    width: fit-content;
    padding: 15px 20px ;
    margin: 25px auto 45px auto;
    border: 1px solid #1787e0;
    border-radius: 5px;
    color: #1787e0;
    font-weight: bold;
    transition: var(--main-transition);
}
.plans div .bottom:hover{
    background-color: #1787e0;
    color: #fff;
}
.plans div .bottom a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
}
/* top videos */
.videos{
    font-size: 18px;
}
@media (min-width: 992px){
    .videos{
        display: flex;
    }
}
.videos .titles{
    border: .1px solid rgba(0, 0, 0, .08);
}
.videos .titles .headline{
    padding: 20px;
    background-color: #f5f5f5;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.videos .titles .video{
    padding: 20px;
    transition: var(--main-transition);
    cursor: pointer;
}
.videos .titles .video:hover p:first-child{
    color: var(--main-clr);
}
.videos .titles .video:hover{
    background-color: #fafafa;
}
.videos .titles .video:not(div:last-child){
    border-bottom: .1px solid rgba(0, 0, 0, .08);
}
.videos .titles .video p:first-child{
    margin-bottom: 10px;
}
.videos .titles .video p:last-child{
    opacity: .7;
}
.videos .preview{
    padding:  10px;
    background-color: #e3e3e3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
@media (min-width: 992px){
    .videos .titles{
        width: 30%;
    }
    .videos .preview{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.videos .preview img{
    height: fit-content;
}
.videos .preview .bar{
    padding: 20px;
    background: #fff;
    width: 100%;
    height: fit-content;
}
/* states */
#states{
    height: fit-content;
    position: relative;
}
#states::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(images/stats.jpg);
    background-position: top left;
    background-size: 135rem;
    filter: opacity(.05);
    transform: translate(0, -100px); /* for padding */
}
@media (min-width: 768px){   
    #states::before{
        background-size: 88rem;
    }
}
#states h1{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 50px;
}
#states .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 992px){
    #states .container{
        justify-content: left;
    }
}
#states .container> div{
    width: 100%;
    background-color: #fff;
    font-size: 18px;
    padding: 30px;
    text-align: center;
    position: relative;
    MARGIN-LEFT: 20PX;
    MARGIN-BOTTOM: 20PX;
}
@media (min-width: 768px){   
    #states .container> div{
        width: calc(50% - 20px);
    }
}
@media (min-width: 992px){
    #states .container> div{
        width: calc((100% / 3) - 20px);
    }
}
@media (min-width: 1200px){
    #states .container> div{
        width: calc((100% / 4) - 20px);
    }
}
#states .container> div::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 0;
    background-color: var(--main-clr);
    transition: 1s;
}
#states .container> div::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 0;
    background-color: var(--main-clr);
    transition: 1s;
}
#states .container> div:hover::before, #states .container> div:hover::after{
    height: 100%;
}
#states .container> div .icon{
    font-size: 32px;
    margin-bottom: 10px;
}
#states .container> div .state{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}
#states .container> div p{
    color: var(--main-clr);
    font-weight: bold;
    font-size: 20px;
}
/* discount */
@media (min-width: 992px){
    #discount{
        display: flex;
    }
}
#discount .blue{
    text-align: center;
    position: relative;
    padding: 40px 0 0 0;
}
#discount .blue::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url(images/discount-background1.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 75rem;
    animation-name: bg-changing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#discount .blue::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--main-clr);
    opacity: .97;
}
#discount .blue h1{
    margin: 0 0 50px 0;
    text-transform: capitalize;
    font-size: 40px;
    color: #fff;
}
#discount .blue p{
    font-size: 20px;
    line-height: 32px;
    padding: 0 20px;
    max-width: 610px;
    margin: auto;
    color: #fff;
}
#discount .blue .img-holder{
    width: 350px;
    margin: auto;
}
@media (min-width: 992px){
    #discount .blue, #discount .parent{
        width: 50%;
    }
}
#discount form{
    width: 322px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}
#discount form h1{
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
}
#discount form input,#discount form textarea{
    outline: none;
    border: none;
    border-bottom: .1px solid #cccccc;
    padding: 15px 20px;
    width: 100%;
    resize: none;
    background-color: #fafafa;
    text-transform: capitalize;
}

#discount form textarea{
    height: 200px;
}
#discount form input:last-child{
    background-color: var(--main-clr);
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}
#discount form input:last-child:hover{
    background-color: #1686e0;
}
/* Start Footer */
footer{
    background-color: #1a1a1a;
    padding-top: 100px;
    position: relative;
    color: #fff; /* test */
}
footer .template{
    display: grid;
    text-align: center;
    font-size: 17px;
}
@media (min-width: 768px){   
    footer .template{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align: left;
        gap: 50px;
    }
}
@media (min-width: 992px){
    footer .template{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px){
    footer .template{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}
footer .template .social h1{
    font-size: 54px;
    margin: 0;
}
footer .template .social .icons{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
@media (min-width: 768px){   
    footer .template .social .icons {
        margin: 30px 0;
    }
}
footer .template .social .icons .icon{
    height: 100%;
    width: calc((180px / 3));
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #bababa;
    transition: var(--main-transition);
}
footer .template .social .icons .icon:first-child:hover{
    background-color: #1877f2;  
}
footer .template .social .icons .icon:nth-child(2):hover{
    background-color: #1da1f2;
}
footer .template .social .icons .icon:last-child:hover{
    background-color: #ff0000;
}
footer .template .social .text{
    color: #bababa;
    width: 100%;
    padding: 0 15px;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 80px;
}
@media (min-width: 768px){   
    footer .template .social .text{
        margin-bottom: 0;
        padding: 0;
    }
}
footer .template .links{
    margin-bottom: 40px;
}
@media (min-width: 768px){   
    footer .template .links{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-bottom: 0;
    }
}
footer .template .links .link{
    padding: 15px 0;
    color: #bababa;
    transition: var(--main-transition);
}
@media (min-width: 768px){   
    footer .template .links .link {
        padding: 18px 0;
    }
}
footer .template .links .link:not(div:last-child){
    border-bottom: .1px solid rgba(255, 255, 255, .3);
}
footer .template .links .link:hover{
    color: #fff;
    padding-inline-start: 10px;
}
footer .template .links .link a{
    text-decoration: none;
    color: inherit;
}
footer .template .links .link span{
    color: var(--main-clr);
    margin-right: 10px;
    letter-spacing: -2px;
}

footer .template .contact> div{
    margin-bottom: 40px;
}
@media (min-width: 768px){   
    footer .template .contact> div{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
@media (min-width: 992px){
    footer .template .contact{
        grid-column: 3/4;
        grid-row: 1/2;
    }
}
footer .template .contact .icon{
    color: var(--main-clr);
    font-size: 24px;
    margin-bottom: 20px;
}
@media (min-width: 768px){   
    footer .template .contact> div .icon{
        font-size: 30px;
        height: fit-content;
        margin: 0;
    }
}
footer .template .contact p{
    color: #bababa;
    font-size: 17px;
}
@media (min-width: 768px){   
    footer .template .contact> div p{
        width: 100%;
        font-size: 18px;
        line-height: 30px;
    }
} 
footer .template .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: fit-content;
}
@media (min-width: 768px){   
    footer .template .images{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: left !important;
    }   
}
@media (min-width: 992px){
    .template .images{
        grid-column: 1/2;
        grid-row: 2/3;
    } 
}
@media (min-width: 1200px){
    footer  .template .images{
        grid-column: 4/5;
        grid-row: 1/2;
    } 
}
footer .template .images .img-holder{
    width: 85px;
    height: 85px;
    border: 4px #fff solid;
}
footer .bottom{
    color: #fff;
    position: relative;
    bottom: 0;
    height: fit-content;
    padding: 25px 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border-top: .1px solid rgba(255, 255, 255, .3);
}
/* Start Animation */
@keyframes move1{
    0%, 100%{
        transform: translate(0, -14%);
    }
    50%{
        transform: translate(0, 6%);
    }
}
@keyframes move2{
    20%{
        transform: translate(0, -15px);
    }
    30%{
        transform: translate(0, 0);
    }
    40%{
        transform: translate(0, -15px);
    }
    50%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(0, 0);  
    }
}
@keyframes heading-move-l {
    100%{
        left: 0;

    }
}
@keyframes heading-move-r {
    100%{
        right: 0;
    }
}
@keyframes heading-move-final {
    100%{
       border-radius: 0;
       width: 50%;
       height: 100%;
    }
}
@keyframes heading-style {
    100%{
        color: #fff;
        border-color:#fff ;
    }
}
@keyframes move3 {
    100%{
        transform: translate( 8px, 0);
    }
}
@keyframes light {
    100%{
        width: 100%;
        height: 100%;
    }
}
@keyframes bg-changing{
    0%{
        background-image: url(images/discount-background1.jpg);
    }
    50%{
        background-image: url(images/discount-background2.jpg);
    }
    100%{
        background-image: url(images/discount-background1.jpg);
    }
}